<%# Header %>
<div class="container">
  <div class="row">
    <div class="col text-center py-5">
      <h1 class="display-3">Coffee Roasts</h1>
    </div>
  </div>
</div>
<%# Content %>
<div class="container">
  <div class="row">
  <%= render @inventories%>
  </div>
  <%# Row --END-- %>
  <div class="row mt-4">
  <div class="col-4"></div>
  <div class="col-4"><%= paginate @inventories%></div>
  <div class="col-4"></div>
  </div>
</div>
<%# Container --END-- %>


