<%# Header %>
<div class="container">
  <div class="row border-bottom">
    <div class="col text-center py-5">
      <h1 class="display-3">Coffee Brands</h1>
    </div>
  </div>
</div>
<%# Container --END-- %>
<%# Content %>
<div class="container mb-4">
  <div class="row mt-3">
    <%if @inventories_results.any?%>
      <h1 class="display-5 text-center"><%= pluralize @inventories_results.count, "Result"%> for: "<%= params[:keywords]%>"</h1>
      <%= render @inventories_results%>
    <%else%>
      <h1 class="display-5 text-center">
      Sorry no results for: "<%= params[:keywords]%>"
      </h1>
    <%end%>
  </div>
  <%# Row --END-- %>
</div>
<%# Container --END--%>
<%5.times do%>
<div class="container mb-5 text-light">text</div>
<%end%>