<%# Header %>
<div class="container">
  <div class="row">
    <div class="col text-center py-5">
      <h1 class="display-3">Coffee Brand search results for: <br><%= params[:keywords]%></h1>
    </div>
  </div>
</div>
<%# Container --END-- %>
<%# Content %>
<div class="container mb-4">
  <div class="row">
    <%= render @inventories_results%>
  </div>
  <%# Row --END-- %>
</div>
<%# Container --END--%>