<%# Header %>
<div class="container">
  <div class="row">
    <div class="col text-center py-5">
      <h1 class="display-3">Meet our Team</h1>
    </div>
  </div>
</div>
<%# Contents %>
<div class="container">
  <div class="row">
    <%# For each employee create a card %>
    <% @employees.each do |employee|%>
      <div class="col-sm">
        <%# Card Start %>
        <div class="card">
          <img src="#" alt="image" class="card-img-top">
          <%# Card Body Start %>
          <div class="card-body">
            <h5 class="card-title"><%="#{employee.f_name} #{employee.l_name}"%></h5>
            <p class="card-text">
              <small class="text-muted"><%=employee.job.job_title%></small>
            </p>
          </div>
          <%# Card Body --END-- %>
          <%# Card Footer Start %>
          <div class="card-footer">
            <%= link_to "Learn More",employee, class:"btn btn-outline-primary text-decoration-none"%>
          </div>
        </div>
        <%# Card --END-- %>
      </div>
    <%end%>
  </div>
</div>