<%# Header %>
<div class="container">
  <div class="row">
    <div class="col text-center py-5">
      <h1 class="display-3">Meet our Team</h1>
    </div>
  </div>
</div>
<%# Contents %>
<div class="container">
  <div class="row">
    <%# For each employee create a card %>
    <% @employees.each do |employee|%>
      <div class="col-sm">
        <%# Card Start %>
        <div class="card">
          <%if employee.image.present?%>
            <%= image_tag employee.image, class:"card-img-top", alt: employee.f_name.concat(" "+employee.l_name), :size => "450x450"%>
          <%else%>
            <img src="#" alt="no image" class="card-img-top">
          <%end%>
          <%# Card Body Start %>
          <div class="card-body">
            <h5 class="card-title"><%="#{employee.f_name}"%></h5>
            <p class="card-text">
              <small class="text-muted"><%=employee.job.job_title%></small>
            </p>
          </div>
          <%# Card Body --END-- %>
          <%# Card Footer Start %>
          <div class="card-footer">
            <%= link_to "Learn More",employee, class:"btn btn-outline-primary btn-sm text-decoration-none"%>
          </div>
        </div>
        <%# Card --END-- %>
      </div>
    <%end%>
  </div>
</div>
<%5.times do%>
<div class="container mb-5 text-light">text</div>
<%end%>