<%# Header %>
<div class="container">
  <div class="row">
    <div class="col text-center py-5">
      <h1 class="display-3">Princess Coffee Roasters</h1>
      <figure>
        <blockquote class="blockquote">
          <p><em>"What goes best with a cup of coffee? Another cup."</em></p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Henry Rollins
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<%# On sale products (5) %>

<%# New Inventories %>

