<h1>Princess Coffee Roasters</h1>

<div>
  <h3>About</h3>
  <p><%=@about.about_us%></p>
</div>

<div>
  <h3>Mission</h3>
  <p><%=@about.mission%></p>
</div>

<div>
  <h3>Vision</h3>
  <p><%=@about.vision%></p>
</div>